<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить закупку</title>
</head>
<body>
<div th:insert="header">...</div>
<form th:action="${'/purchase/add'}" method="post" th:object="${purchase}">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Информация о закупке</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500"></p>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Товар</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2">Выбрать товар</label>
                            <div>
                                <select th:field="*{products}">
                                    <option th:each="product : ${products}"
                                            th:value="${product.id}"
                                            th:text="${product.productName}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </dd>
                </div>

                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Кол-во</dt>
                    <input th:field="*{ammount}" type="text" autocomplete="none" placeholder="Введите кол-во"
                           required
                           class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Цена</dt>
                    <input th:field="*{price}" type="text" autocomplete="none" placeholder="Введите кол-во"
                           required
                           class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Здание</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2">Выбрать здание</label>
                            <div>
                                <label>
                                    <select th:field="*{buildings}">
                                        <option th:each="building : ${buildings}"
                                                th:value="${building.id}"
                                                th:text="${building.buildingName}">
                                        </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </dd>
                </div>

                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Поставщик</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2">Выбрать поставщика</label>
                            <div>
                                <label>
                                    <select th:field="*{saler}">
                                        <option th:each="saler : ${salers}"
                                                th:value="${saler.id}"
                                                th:text="${saler.salerName}">
                                        </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </dd>
                </div>

                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Дата</dt>
                    <input th:field="*{date}" type="date" autocomplete="none" placeholder="Введите дату"
                           required
                           class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>

                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 flex space-x-12">
                        <button type="submit"
                                class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Добавить
                        </button>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"></dd>
                </div>
            </dl>
        </div>
    </div>
</form>
</body>
</html>